# This is the project top-level .editorconfig
root = true

# Defaults for all file types
[*]
# 4-space indents, no TABs
indent_style = space
tab_width = 4
indent_size = tab

# UTF-8 is the only sensible option, no BOM
charset = utf-8

# All files should have a final newline
insert_final_newline = true

# No trailing whitespace
trim_trailing_whitespace  = true

# Hard-wrap at 160 columns
max_line_length = 159
