# Python cache/compiled files
*.pyo
*.pyc
__pycache__/

# Mac files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# IDE settings
.vscode/

CLAUDE.md
AGENTS.md

# Virtual environment
.venv*/

# Development garbage
deploy.sh

# pycov
.coverage
.pytest_cache/


data/
updates/
routes/
tests/data/
tests/edmc/EDMarketConnector
tests/logs/
tests/updates/
tests/backups/
tests/journal_folder/
