# Python cache/compiled files
*.pyo
*.pyc
__pycache__/

# IDE settings
.vscode/

# Virtual environment
.venv*/

# Development garbage
deploy.sh

*/.DS_Store

data/*
routes/*
updates/*
tests/data/*
