name: VirusTotal Scan
on:
  release:
    types: [published]

jobs:
  vt_scan:
    permissions:
      contents: read
      pull-requests: write  
    runs-on: ubuntu-latest
    steps:
      - name: VirusTotal Scan
        uses: cssnr/virustotal-action@v1
        with:
          vt_api_key: ${{ secrets.VT_API_KEY }}
          # Scan all files in the 'dist' folder
          update_release: true
